.main {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 45px 20px 45px;
  }
  .filters {
    flex-basis: 20%;
  }
  &__prod-list {
    flex-basis: 77%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
  }
}
