// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// $max-width: 1600px

$content-width: 1160px;

// breakpoints for media
$small-desktop-width: 1500px;
$tablet-width: 950px;
$mobile-width: 630px;
