.navigation {
  text-align: center;
  margin-top: 2%;
  color:  #333333;
}

.navigation__main {
  cursor: pointer
}

.navigation__main:hover {
  font-weight: bold;
}

.product-block {
  width: 80%;
  height: 480px;
  margin: 2% auto;
  display: flex;
}

.photo-container {
  width: 50%;
  height: 100%;
}

.description-container {
  margin-left: 2%;
  width: 50%;
  height: 100%;
  border: 1px solid #D6D6D6;
  padding: 0.8%;
  color: #333333;
}

.description-frame {
  border: 1px solid #D6D6D6;
  height: 100%;
  padding: 4%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.description__name {
  margin: 4% 0 4%;
  color: #333333;
}

.category-container {
  width: 100%;
  display: flex;
  padding-bottom: 5%;
  border-bottom: 1px solid #D6D6D6;
  color: #979797;
  align-self: end;
}

.category-container p:nth-child(2) {
  margin-left: 10%;
}

.product-description {
  margin-top: 5%;
}

.head-photo {
  height: 70%;
}

.head-photo img {
  width: 100%;
  height: 100%;
}

.slide {
  margin-top: 3%;
  height: 25%;
  display: flex;
  justify-content: space-between;
  overflow-x: scroll;
  gap: 2%;
}

.slide img {
  height: 100%;
  cursor: pointer;
  border: 1px solid #D6D6D6;
}

.info-block {
  line-height: 200%;
}

.price {
  color: #333333;
  font-weight: bold;
  font-size: 24px;
}

.btn-container {
  margin-top: 2%;
}

.button {
  border: none;
  outline: none;
  cursor: pointer;
  height: 40px;
}
.buy-btn {
  width: 120px;
  background-color: #333333;
  color: white;
}

.cart-btn {
  width: 240px;
  border: 1px solid #333333;
  color: #333333;
  background-color: white;
  margin-left: 5%;
}


///
// .modal {
//   max-width: 500px;
//   border: 2px solid #333333;
//   border-radius: 10px;
//   margin: 0 auto;
// }

// .modal__title,
// .modal__credit {
//   text-align: center;
//   margin-top: 3%;
// }

// .input {
//   display: block;
//   width: 80%;
//   height: 32px;
//   margin: 2% auto;
//   padding: 2%;
//   border: 1px solid #D1D1D1;
//   background: #F9F9F9;
//   border-radius: 12px;
//   outline: none;
//   font-size: 14px;
// }

// .credit-card {
//   width: 60%;
//   height: 150px;
//   margin: 2% auto;
//   padding-top: 5%;
//   background-color: #4f4a4a;
//   border-radius: 7px;
// }

// .card-number {
//   display: flex;
//   justify-content: space-around;
//   width: 90%;
// }

// .card-icon {
//   width: 20px;
//   height: 15px;
//   border: 1px solid wheat;
// }

// .valid-block {
//   width: 90%;
//   display: flex;
//   margin: 5% auto;
// }

// .date-input {
//   width: 30%;
// }

// .number-field,
// .cvv-input,
// .date-input {
//   height: 24px;
//   margin: 2% auto;
//   padding: 2%;
//   border: 1px solid #D1D1D1;
//   background: #F9F9F9;
//   border-radius: 8px;
//   outline: none;
//   font-size: 12px;
// }

// .number-field {
//   width: 80%;
// }

// .cvv-input {
//   width: 20%;
// }

// .confirm-button {
//   display: block;
//   width: 150px;
//   height: 32px;
//   margin: 4% auto;
//   background-color: #6A983C;
//   color: white;
//   border-radius: 10px;
//   border: 2px solid #46760A;
//   cursor: pointer;
// }