// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.footer {
  display: flex;
  background-color: rgb(238, 234, 234);

  &__wrapper {
    width: 100%;
    display: flex;  
    justify-content: space-around;
    align-items: center;
  }

  &__git {
    display: flex;
    align-items: center;
  }
}

.git-logo {
  width: 70px;
}

.rs-logo {
  width: 100px;
}

