// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.header {
  &__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 45px;
    height: 100px;
    &::after {
      position: absolute;
      content: '';
      width: 95%;
      height: 1px;
      bottom: 8px;
      left: 0;
      background-color: $border-color;
      transform: translateX(2.5%);
    }
  }
  &__brand {
    display: flex;
    cursor: pointer;
    &-logo {
      background: url('./img/svg/logo.svg') no-repeat;
      width: 110px;
      height: 40px;
      background-size: contain;
    }

    &-logo:hover {
      opacity: 0.7;
    }

    &-name {
      display: flex;
      align-items: center;
    }

    &-name:hover {
      opacity: 0.7;
    }
  }
  &__price {
    display: flex;
    gap: 10px;
    @include font(1.8rem, 1.8rem, 400);
  }

  &__price-title {
    color: $button-color;
  }

  &__price-sum {
    color: rgb(55, 54, 54);
  }

  &__cart {
    position: relative;
    background: url('./img/svg/header-cart.svg') no-repeat;
    width: 40px;
    height: 35.5px;
    background-size: contain;
    cursor: pointer;    
  }

  &__cart:hover {
    opacity: 0.7;
  }

  &__total {
    &-container {
      position: absolute;
      top: 23px;
      right: 20px;
      width: 60%;
      height: 60%;
      border-radius: 50%;
      background-color: #e6704b;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &-items {
      display: flex;
      align-content: center;
      justify-content: center;
      color: white;
    }
  }
}
